/* MIXINS*/
/*Colors */
/*background-colors */
/* BLOCKS*/
/* Masterblocs */
body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  margin: 0%;
  min-width: 280px;
  z-index: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: 100%;
  padding: 15px 0% 15px 0%;
  position: sticky;
  top: 0px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px #858585;
  z-index: 3;
}

main {
  flex-direction: column;
  min-height: 500px;
}

footer {
  flex-direction: column;
  background-color: #39383a;
  min-height: 105.95px;
}

/*Pied de page*/
.header__logo {
  object-fit: cover;
  width: 179px;
}
.header__arrow {
  font-style: normal;
  font-size: 24px;
  position: absolute;
  left: 7%;
  top: 17px;
}
.header__arrow:hover {
  color: #99e2d0;
}

/* Enlever la fleche*/
#no_arrow {
  display: none;
}

/* Pied de page*/
.footer__framing {
  padding: 7%;
  /* Cadrage des blocs */
}
.footer__logo {
  width: 166px;
}
.footer__li {
  font-size: 15px;
  color: white;
}
.footer--icon {
  margin-right: 10px;
  width: 15px;
}

/* Pseudo-Elements*/
a {
  text-decoration: none;
  color: black;
}

ul,
ol {
  list-style-type: none;
  padding: 0%;
}

button {
  border: none;
}

h1 {
  font-size: 22px;
}

/* Buttons */
.bigbutton {
  list-style-type: none;
  background-image: linear-gradient(to right bottom, #ff79da, #9356dc);
  padding: 20px;
  margin: 20px 20px 55px 20px;
  border-radius: 60px;
  color: white;
  font-weight: bold;
  font-size: 17px;
  box-shadow: 0px 5px 10px #858585;
}

/* Coeur */
.heart {
  font-size: 25px;
}

/* RESPONSIVE*/
@media all and (min-width: 768px) {
  #header__logo {
    width: 268px;
  }
  #header__arrow {
    font-style: normal;
    font-size: 36px;
  }

  .footer__logo {
    width: 208px;
  }
  .footer__li {
    font-size: 19px;
  }
}
.centered_column, .guide__list, #localiser,
#presentation {
  /* Center & columning */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* flexbox de la section principale*/
#localiser {
  background-color: #eaeaea;
}

#presentation {
  background-color: #f6f6f6;
  justify-content: flex-start;
}

#guide {
  background-color: #ffffff;
  padding: 5%;
}

#restaurants {
  background-color: #f6f6f6;
  padding: 5%;
}

/* Localisateur */
.localiser--button {
  font-size: 18px;
  font-weight: bold;
  background-color: #eaeaea;
  padding: 20px;
}

/* Presentation */
.presentation--title {
  width: fit-content;
  max-width: 60%;
  text-align: center;
}
.presentation--text {
  width: fit-content;
  max-width: 80%;
  text-align: center;
}

/* Guide de fonctionnement*/
.guide__list {
  margin: 0%;
}

.bull {
  width: 95%;
  max-width: 320px;
  background-color: #f6f6f6;
  border-radius: 23px;
  margin: 15px 0px 15px 0px;
}
.bull--numb {
  padding: 10px 13px 10px 13px;
  border-radius: 50px;
  background-color: rgb(0, 102, 255);
  color: white;
  font-size: 10px;
  font-weight: bold;
  position: relative;
  left: -15px;
}
.bull--icon {
  margin: 30px 6% 30px 0px;
}
.bull--text {
  width: fit-content;
}

/* Presentation des restaurants */
.stores_list {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background-color: #ffffff;
  border-radius: 20px;
  margin: 3%;
  width: 100%;
  box-shadow: 0px 0px 10px #858585;
}
.card__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.card__text {
  padding: 2% 5% 3% 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h3 {
  margin: 0px;
}

@media all and (min-width: 768px) {
  .localiser--button {
    font-size: 23px;
  }

  p {
    font-size: 20px;
  }

  .guide__list {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
  }

  .bull {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 150px;
    width: auto;
  }
  .bull--numb {
    position: relative;
    left: 0%;
    top: -16px;
    width: fit-content;
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 1;
  }
  .bull--icon {
    margin: 0px 0px 0px 0px;
    font-size: 30px;
  }
  .bull--text {
    width: 205px;
    max-width: 90%;
    font-size: 20px;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  /* Titres de la page */
  .page_titles {
    text-align: left;
  }

  /*RESPONSIVE*/
}
@media all and (min-width: 768px) and (min-width: 768px) {
  .page_titles {
    text-align: center;
  }

  #guide,
#restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .guide__list,
.stores_list {
    width: 100%;
  }
}
@media all and (min-width: 768px) and (min-width: 768px) and (max-width: 991px) {
  .stores_list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    height: 100%;
    width: 330px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .card__img {
    width: 100%;
  }
}
@media all and (min-width: 768px) and (min-width: 992px) {
  .guide__list {
    justify-content: space-evenly;
    max-width: 1200px;
  }

  .bull {
    width: 250px;
  }

  .stores_list {
    flex-direction: row;
    justify-content: space-between;
  }

  .card {
    height: 330px;
    margin: 1%;
  }
  .card__img {
    width: 100%;
  }
}

/*# sourceMappingURL=index.css.map */
