/* MIXINS*/
/*Colors */
/*background-colors */
/* BLOCKS*/
/* Masterblocs */
body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  margin: 0%;
  min-width: 280px;
  z-index: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: 100%;
  padding: 15px 0% 15px 0%;
  position: sticky;
  top: 0px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px #858585;
  z-index: 3;
}

main {
  flex-direction: column;
  min-height: 500px;
}

footer {
  flex-direction: column;
  background-color: #39383a;
  min-height: 105.95px;
}

/*Pied de page*/
.header__logo {
  object-fit: cover;
  width: 179px;
}
.header__arrow {
  font-style: normal;
  font-size: 24px;
  position: absolute;
  left: 7%;
  top: 17px;
}
.header__arrow:hover {
  color: #99e2d0;
}

/* Enlever la fleche*/
#no_arrow {
  display: none;
}

/* Pied de page*/
.footer__framing {
  padding: 7%;
  /* Cadrage des blocs */
}
.footer__logo {
  width: 166px;
}
.footer__li {
  font-size: 15px;
  color: white;
}
.footer--icon {
  margin-right: 10px;
  width: 15px;
}

/* Pseudo-Elements*/
a {
  text-decoration: none;
  color: black;
}

ul,
ol {
  list-style-type: none;
  padding: 0%;
}

button {
  border: none;
}

h1 {
  font-size: 22px;
}

/* Buttons */
.bigbutton {
  list-style-type: none;
  background-image: linear-gradient(to right bottom, #ff79da, #9356dc);
  padding: 20px;
  margin: 20px 20px 55px 20px;
  border-radius: 60px;
  color: white;
  font-weight: bold;
  font-size: 17px;
  box-shadow: 0px 5px 10px #858585;
}

/* Coeur */
.heart {
  font-size: 25px;
}

/* RESPONSIVE*/
@media all and (min-width: 768px) {
  #header__logo {
    width: 268px;
  }
  #header__arrow {
    font-style: normal;
    font-size: 36px;
  }

  .footer__logo {
    width: 208px;
  }
  .footer__li {
    font-size: 19px;
  }
}
.title--frame {
  width: 100%;
  height: 200px;
}
.title__text {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 40px 40px 0px 0px;
  padding: 0% 10% 0% 10%;
  position: relative;
  bottom: -2px;
}

main {
  background-color: #f6f6f6;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  font-stretch: expanded;
}

h3 {
  font-size: 18px;
  margin: 0px;
}

h2 {
  font-weight: normal;
  border-bottom: 3px solid #99e2d0;
  width: fit-content;
}

#menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#entrees,
#plats-princip,
#deserts {
  width: 90%;
  max-width: 400px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 250px;
}

.plate {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 70px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #858585;
}
.plate__text {
  width: 100%;
  height: 100%;
  padding: 0% 5% 0% 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.plate__price {
  padding: 0px 20px 0px 20px;
  font-size: 16px;
  font-weight: bold;
}
.plate__check {
  background-color: #99e2d0;
  padding: 0px 20px 0px 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70px;
  border-radius: 0px 15px 15px 0px;
  font-size: 20px;
}

/* boutton*/
.bigbutton {
  font-stretch: expanded;
  margin-bottom: 300px;
}

/* RESPONSIVE*/
/*
@media all and (min-width: 768px) {
  #entrees,
  #plats-princip,
  #deserts {
    width: 100%;
    max-width: 400px;
  }
}*/
@media all and (min-width: 768px) and (max-width: 991px) {
  .title--frame {
    height: 400px;
  }
}
@media all and (min-width: 992px) {
  .title--frame {
    height: 600px;
  }
}

/*# sourceMappingURL=menu.css.map */
