/*LOADER*/
/*loader screen*/
.loader {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

/*loader spin*/
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 175px;
  width: 175px;
  border: 8px solid #ff79da;
  border-radius: 50%;
  position: relative;
  box-shadow: 0px 0px 5px #ff79da;
  /*Font properties*/
}
.spinner:after {
  content: "";
  height: 175px;
  width: 175px;
  border-radius: 50%;
  border: 8px solid transparent;
  border-top-color: #9356dc;
  position: absolute;
  top: -8px;
  left: -8px;
  animation: spin 2.2s cubic-bezier(0.94, 0.32, 0.25, 0.83) 0s infinite;
}
.spinner__text {
  font-family: "Shrikhand", cursive;
  font-size: 25px;
  text-align: center;
  text-shadow: 0px 5px 10px #929292;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* MIXINS*/
/*Colors */
/*background-colors */
/* BLOCKS*/
/* Masterblocs */
body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  margin: 0%;
  min-width: 280px;
  z-index: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: 100%;
  padding: 15px 0% 15px 0%;
  position: sticky;
  top: 0px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px #858585;
  z-index: 2;
}

main {
  flex-direction: column;
  min-height: 500px;
}

footer {
  flex-direction: column;
  background-color: #39383a;
  min-height: 105.95px;
}

/*Pied de page*/
.header__logo {
  object-fit: cover;
  width: 179px;
}
.header__arrow {
  font-style: normal;
  font-size: 24px;
  position: absolute;
  left: 7%;
  top: 17px;
}
.header__arrow:hover {
  color: #99e2d0;
}

/* Enlever la fleche*/
#no_arrow {
  display: none;
}

/* Pied de page*/
.footer__framing {
  padding: 7%;
  /* Cadrage des blocs */
}
.footer__logo {
  width: 166px;
}
.footer__li {
  font-size: 15px;
  color: white;
}
.footer--icon {
  margin-right: 10px;
  width: 15px;
}

/* Pseudo-Elements*/
a {
  text-decoration: none;
  color: black;
}

ul,
ol {
  list-style-type: none;
  padding: 0%;
}

button {
  border: none;
}

h1 {
  font-size: 22px;
}

/* Buttons */
.btn {
  background: linear-gradient(to right bottom, #ff79da, #9356dc);
  box-shadow: 0px 5px 10px #858585;
  list-style-type: none;
  padding: 20px;
  margin: 20px 20px 55px 20px;
  border-radius: 60px;
  color: white;
  font-weight: bold;
  font-size: 17px;
  position: relative;
  z-index: 1;
}
.btn:hover::after {
  opacity: 1;
}
.btn::after {
  background: linear-gradient(to right bottom, #ff88de, #9b63df);
  box-shadow: 0px 5px 10px #393939;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  border-radius: 60px;
  transition: opacity 250ms;
}

/* Coeur */
.heart {
  font-size: 25px;
}

/* RESPONSIVE*/
@media all and (min-width: 768px) {
  #header__logo {
    width: 268px;
  }
  #header__arrow {
    font-style: normal;
    font-size: 36px;
  }

  .footer__logo {
    width: 208px;
  }
  .footer__li {
    font-size: 19px;
  }
}

/*# sourceMappingURL=style.css.map */
