@import "spinner.scss";

/* MIXINS*/

/*Bckground colors */

$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;

@mixin primary-bg-color {
  background-color: #9356dc;
}
@mixin secondary-bg-color {
  background-color: #ff79da;
}
@mixin tertiary-bg-color {
  background-color: #99e2d0;
}
@mixin footer-bg-color {
  background-color: #39383a;
}

@mixin back-grey {
  background-color: #f6f6f6;
}
@mixin back-light {
  background-color: #ffffff;
}
@mixin back-dark {
  background-color: #eaeaea;
}

@mixin numb-color {
  background-color: rgb(0, 102, 255);
}

/*Ombress */

@mixin shadow {
  box-shadow: 0px 3px 10px #858585;
}

/* BLOCKS*/

/* Masterblocs */

body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  @include back-light;
  font-family: "Roboto", sans-serif;
  margin: 0%;
  min-width: 280px;
  z-index: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: 100%;
  padding: 15px 0% 15px 0%;
  position: sticky;
  top: 0px;
  @include back-light;
  @include shadow;
  z-index: 2;
}

main {
  flex-direction: column;

  min-height: 500px;
}

footer {
  flex-direction: column;
  @include footer-bg-color;
  min-height: 105.95px;
}

/*Pied de page*/

.header {
  &__logo {
    object-fit: cover;
    width: 179px;
  }
  &__arrow {
    font-style: normal;
    font-size: 24px;
    position: absolute;
    left: 7%;
    top: 17px;
    &:hover {
      color: $tertiary-color;
    }
  }
}

/* Enlever la fleche*/
#no_arrow {
  display: none;
}

/* Pied de page*/

.footer {
  &__framing {
    padding: 7%; /* Cadrage des blocs */
  }
  &__logo {
    width: 166px;
  }
  &__li {
    font-size: 15px;
    color: white;
  }
  &--icon {
    margin-right: 10px;
    width: 15px;
  }
}

/* Pseudo-Elements*/

a {
  text-decoration: none;
  color: black;
}

ul,
ol {
  list-style-type: none;
  padding: 0%;
}

button {
  border: none;
}

h1 {
  font-size: 22px;
}

/* Buttons */

.btn {
  background: linear-gradient(
    to right bottom,
    $secondary-color,
    $primary-color
  );
  box-shadow: 0px 5px 10px #858585;
  list-style-type: none;
  padding: 20px;
  margin: 20px 20px 55px 20px;
  border-radius: 60px;
  color: white;
  font-weight: bold;
  font-size: 17px;

  position: relative;
  z-index: 1;

  &:hover {
    &::after {
      opacity: 1;
    }
  }

  &::after {
    /*color modification*/
    background: linear-gradient(
      to right bottom,
      lighten($color: $secondary-color, $amount: 3),
      lighten($color: $primary-color, $amount: 3)
    );
    box-shadow: 0px 5px 10px darken(#858585, 30);
    /*position*/
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    /*presets*/
    content: "";
    opacity: 0;
    border-radius: 60px;
    transition: opacity 250ms;
  }
}

/* Coeur */

.heart {
  font-size: 25px;
  &__empty {
    color: black;
    position: relative;
    z-index: 0;

    &:active {
      color: transparent;
    }
  }
  &__full {
    color: transparent;
    /*position*/
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;

    &:active {
      color: $primary-color;
      text-shadow: 0px 6px 10px #858585ad;

      animation: heart-grow 550ms;
    }
  }
}

@keyframes heart-grow {
  0% {
    transform: scale(0);
  }
  7% {
    transform: scale(0.34);
  }
  24% {
    transform: scale(0.68);
  }
  34% {
    transform: scale(0.82);
  }
  57% {
    transform: scale(1.38);
  }
  100% {
    transform: scale(1);
  }
}

/* RESPONSIVE*/

@media all and (min-width: 768px) {
  #header {
    &__logo {
      width: 268px;
    }
    &__arrow {
      font-style: normal;
      font-size: 36px;
    }
  }

  .footer {
    &__logo {
      width: 208px;
    }
    &__li {
      font-size: 19px;
    }
  }
}
