@import "../base/style.scss";

/* Carte d'un plat */
.dish {
  /* flex */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* form parameters */
  width: 100%;
  height: $plate_height;
  margin-top: $plate_margin;
  margin-bottom: $plate_margin;
  border-radius: $plate_border;
  /*position*/
  position: relative;
  overflow: hidden;
  /*color*/
  @include back-light;
  @include shadow;

  &__text {
    /*flex*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* form parameters */
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0 auto;

    &--blank {
      width: 0px;
    }
    &--line {
      line-height: 21px;
      max-height: 21px;
      margin: 0px 60px 0px 5%;
      width: auto;

      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  &__price {
    /*position*/
    position: absolute;
    right: -60px;
    /* flex */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    /* animation*/
    transition: transform 1000ms ease-in-out;

    &--numb {
      padding: 0px 15px 0px 15px;
      width: 30px;
    }
    &--check {
      /* flex */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* colors */
      @include tertiary-bg-color;
      color: white;
      /* form parameters */
      font-size: 20px;
      padding: 0px 20px 0px 20px;
      height: $plate_height;
      width: 20px;
      &--icon {
        transition: transform 1000ms ease-in-out;
      }
    }
  }

  /*animation*/
  &:hover {
    & .dish {
      &__text--line {
        animation-name: anim-text;
        animation-duration: 1000ms;
        animation-delay: 150ms;
        animation-timing-function: ease-in-out;
        animation-direction: alternate;
        animation-fill-mode: forwards;
      }
      &__price {
        transform: translateX(-60px);
        &--check--icon {
          transform: rotate(-360deg);
        }
      }
    }
  }
}
