@import "../base/style.scss";

.title {
  &--frame {
    width: 100%;
    height: 325px;
  }
  &__text {
    @include back-grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px 40px 0px 0px;
    padding: 0% 10% 0% 10%;
    position: relative;
    bottom: -2px;
  }
}

main {
  @include back-grey;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  font-stretch: expanded;
}

h3 {
  font-size: 18px;
}

h2 {
  font-weight: normal;
  border-bottom: 3px solid $tertiary-color;
  width: fit-content;
}

/* Blocs de mise en page*/

#menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#entrees,
#plats-princip,
#deserts {
  width: 90%;
  max-width: 475px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

/*Assiette*/
.plate {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  @include back-light;
  width: 100%;
  height: $plate_height;
  margin-top: $plate_margin;
  margin-bottom: $plate_margin;
  border-radius: $plate_border;
  @include shadow;

  position: relative;
  overflow: hidden;

  &__text {
    /*flex*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* form parameters */
    width: 70%;
    height: 100%;
    padding: 0% 5% 0% 5%;
    /* position */
    z-index: 1;

    &--lines {
      display: flex;
      margin: 0px;
      max-height: 21px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  &__price {
    padding: 0px 20px 0px 20px;
    font-size: 16px;
    font-weight: bold;
    margin: 0px auto;
  }
  &__check {
    /* colors */
    @include tertiary-bg-color;
    color: white;
    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* form parameters */
    border-radius: 0px $plate_border $plate_border 0px;
    font-size: 20px;
    padding: 0px 20px 0px 20px;
    height: $plate_height;
    /*position*/
    position: absolute;
    right: -60px;
    /* animation*/
    transition: transform 1000ms ease-in-out;
    &--icon {
      transition: transform 1000ms ease-in-out;
    }
  }

  &:hover {
    & .plate {
      &__price {
        animation-name: price-margin-width;
        animation-duration: 1000ms;
        animation-delay: 150ms;
        animation-timing-function: ease-in-out;
        animation-direction: alternate;
        animation-fill-mode: forwards;
      }
      &__check {
        transform: translateX(-60px);
        &--icon {
          transform: rotate(360deg);
        }
      }
    }
  }
}

/* MENU ANIMATION*/

.anim1 {
  opacity: 1;
  transition: opacity 1s ease-in 300ms;
}
.anim2 {
  transition: opacity 1s ease-in 600ms;
}
.anim3 {
  transition: opacity 1s ease-in 1200ms;
}
.anim4 {
  transition: opacity 1s ease-in 1500ms;
}

/* RESPONSIVE*/

@media all and (min-width: 768px) {
  .title {
    &__text {
      justify-content: space-evenly;
    }
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .title {
    &--frame {
      height: 450px;
    }
    &__text {
      justify-content: space-evenly;
    }
  }
}

@media all and (min-width: 992px) {
  .title {
    &--frame {
      height: 600px;
    }
  }
}
