@import "../base/style.scss";

.title {
  &--frame {
    width: 100%;
    height: 325px;
  }
  &__text {
    @include back-grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px 40px 0px 0px;
    padding: 0% 10% 0% 10%;
    position: relative;
    bottom: -2px;
  }
}

main {
  @include back-grey;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  font-stretch: expanded;
}

h3 {
  font-size: 18px;
}

h2 {
  font-weight: normal;
  border-bottom: 3px solid $tertiary-color;
  width: fit-content;
}

/* Blocs de mise en page*/

#menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#entrees,
#plats-princip,
#deserts {
  width: 90%;
  max-width: 475px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

/* MENU ANIMATION*/

.anim {
  &__1 {
    opacity: 0;
    /*animation*/
    animation-name: anim-menu;
    animation-duration: 1.2s;
    animation-timing-function: cubic-bezier(0.39, 0.13, 0.53, 1.02);
    animation-direction: normal;
    animation-fill-mode: forwards;

    animation-delay: 600ms;
    transform: translateY(0px);
  }
  &__2 {
    opacity: 0;
    /*animation*/
    animation-name: anim-menu;
    animation-duration: 1.2s;
    animation-timing-function: cubic-bezier(0.39, 0.13, 0.53, 1.02);
    animation-direction: normal;
    animation-fill-mode: forwards;

    animation-delay: 1200ms;
    transform: translateY(0px);
  }
  &__3 {
    opacity: 0;
    /*animation*/
    animation-name: anim-menu;
    animation-duration: 1.2s;
    animation-timing-function: cubic-bezier(0.39, 0.13, 0.53, 1.02);
    animation-direction: normal;
    animation-fill-mode: forwards;

    animation-delay: 1800ms;
    transform: translateY(0px);
  }
}

/* Carte d'un plat */
@import "../components/_dish.scss";

/* RESPONSIVE*/

@media all and (min-width: 768px) {
  .title {
    &__text {
      justify-content: space-evenly;
    }
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .title {
    &--frame {
      height: 450px;
    }
    &__text {
      justify-content: space-evenly;
    }
  }
}

@media all and (min-width: 992px) {
  .title {
    &--frame {
      height: 600px;
    }
  }
}
