/*Width du block du ckecker du Menu Plate*/
@keyframes plt-check-blk-width {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

/* animation du coeur */
@keyframes heart-grow {
  0% {
    transform: scale(0.34);
  }
  7% {
    transform: scale(0.54);
  }
  24% {
    transform: scale(0.68);
  }
  34% {
    transform: scale(0.82);
  }
  57% {
    transform: scale(1.38);
  }
  100% {
    transform: scale(1);
  }
}

/* animation du spinner */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
